/* Reset  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  General */
html,body{
  height: 100%;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  line-height: 1.6;
  background: #EBFEF7;   /*  verde muy claro */
  color: #033d2d;        /* texto en verde grisáceo oscuro */

  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

/* Header & Nav  */
header {
  background: #045043;   /*  verde oscuro */
  color: white;
  padding: 1.5rem 1rem;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

header h1 {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, background 0.3s;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
}

nav a:hover {
  background: #0ABF93;  /* verde medio */
  color: #fff;
}

/* Main Sections */
main {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 0 1rem;

  flex: 1;
}

section {
  background: white;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  border-left: 6px solid #0ABF93; /* detalle verde */
}

h2 {
  margin-bottom: 1rem;
  color: #007C64; /*  verde fuerte */
}

h3 {
  margin: 1rem 0 0.5rem 0;
  color: #00A17D; /* verde medio-oscuro */
}

/* Texto */
p {
  margin-bottom: 1rem;
  text-align: justify;
}

ul {
  margin: 0.5rem 0 1rem 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

/* Código en casillas */
pre {
  background: #1a201f;   /*  verde casi negro */
  color: #EBFEF7;        /* texto claro */
  padding: 1rem;
  border-radius: 6px;
  overflow-x: auto;
  margin: 1rem 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

code {
  font-family: "Courier New", monospace;
  font-size: 0.95rem;
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Imágenes */
img {
  display: block;
  margin: 1rem auto;
  width: 50%;   
  margin-left: 25%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

/* Blockquote  */
blockquote {
  border-left: 5px solid #0ABF93;
  background: #D0FBE9;
  padding: 0.8rem 1rem;
  margin: 1rem 0;
  font-style: italic;
  color: #033d2d;
  border-radius: 5px;
}

/*  Referencias  */
#referencias ul {
  list-style-type: square;
  margin-left: 1.5rem;
}

#referencias a {
  color: #045043;
  text-decoration: none;
  font-weight: bold;
}

#referencias a:hover {
  color: #0ABF93;
  text-decoration: underline;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background: #012D27;  
  color: white;
  font-size: 0.9rem;
  border-radius: 8px 8px 0 0;
  margin-top: auto;
  width: 100%;
}
